@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>DevOps is a practice that enables cross-disciplined teams to work together to deliver solutions to customers, faster. DevOps in a Day is a workshop for collaboration, education, and discussion, to answer questions you might not even know you had.</p>

<p>This interactive session will include:</p>

<ul>
    <li>The art of the possible with Azure DevOps</li>
    <li>The fundamentals of DevOps (code, build, test, package, release, configure, monitor)</li>
    <li>Hands-on activities including Deploying Apps to Azure, Gated Releases and Automated Tests</li>
</ul>